<strong>Olá, {{ distributor }}</strong>
<p>Uma nova entrega foi registrada para você e está aguardando sua retirada!</p>
<p>
  <strong>Entrega: </strong> {{ order }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Obrigado por trabalhar conosco.
  </small>
</p>